<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>'USG-Evidența examinărilor ecografice'</Name>
    <Version>3.0.3</Version>
    <Title>USG-Evidența examinărilor ecografice</Title>
    <Publisher>Alovada-Med SRL</Publisher>
    <StartMenuDir>USG-Evidența examinărilor ecografice v3.0.3</StartMenuDir>
    <InstallerWindowIcon>eco_256x256.png</InstallerWindowIcon>
    <Logo>logo.png</Logo>
    <Watermark>eco.png</Watermark>
    <TargetDir>@HomeDir@/USG</TargetDir>
    <StyleSheet>style.qss</StyleSheet>
    <WizardStyle>Classic</WizardStyle>
    <WizardDefaultWidth>800</WizardDefaultWidth>
    <WizardDefaultHeight>500</WizardDefaultHeight>
</Installer>

