Package: usg
Version: 3.0.5
Maintainer: Codreanu Alexandru <alovada.med@gmail.com>
Architecture: amd64
Section: misc
Depends: libssl3, libc6 (>= 2.31)
Priority: optional
Installed-Size: 11111
Homepage: https://github.com/debalex77/USG
Description: USG - records of ultrasound examinations
 The application for the records of patients who have passed ultrasound
 investigations.

