[Desktop Entry]
Name=USG-Evidența investigațiilor ecografice
Comment[en]=USG Evidence of ultrasound investigations
Comment[ru]=УЗИ-учёт ультразвуковых исследований
Comment[ro]=USG-Evidența investigațiilor ecografice
Version=2.0.9
Exec=/opt/USG/USG.sh
Icon=/opt/USG/icons/eco_248x248.ico
Type=Application
Categories=Utility;Database;MedicalSoftware;Qt;
StartupWMClass=USG
Terminal=false
Encoding=UTF-8
