[Desktop Entry]
Name=USG-Evidența investigațiilor ecografice
Comment[en]=USG Evidence of ultrasound investigations v3.0.4
Comment[ru]=УЗИ-учёт ультразвуковых исследований v3.0.4
Comment[ro]=USG-Evidența investigațiilor ecografice v3.0.4
Version=3.0.4
Exec=/opt/USG/USG.sh
Icon=/opt/USG/icons/eco_248x248.ico
Type=Application
Categories=Utility;Database;MedicalSoftware;Qt;
StartupWMClass=USG
Terminal=false
Encoding=UTF-8
