[Desktop Entry]
Name=USG-Evidența investigațiilor ecografice
Comment=Gestionarea pacienților și a rapoartelor ecografice
Comment[en]=Manage patients and ultrasound examination reports
Comment[ru]=Управление пациентами и протоколами УЗИ
Comment[ro]=Gestionarea pacienților și a rapoartelor ecografice
Version=1.0
Exec=/opt/USG/USG.sh
Icon=/opt/USG/icons/eco_248x248.ico
Type=Application
Categories=Science;MedicalSoftware;Qt;
StartupWMClass=USG
Terminal=false
