/* ----------------------- QCommandLinkButton --------------------- */

QCommandLinkButton
{
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #f6f7fa, stop: 1 #dadbde);
  border: 0px #8f8f91;
}

QCommandLinkButton:hover
{
  background-color: rgb(159,197,232);
}

QCommandLinkButton:default, QCommandLinkButton:pressed
{
  background: 0px #C2C2C3;
  border: 1px inset blue;
  border-color: navy;
}

QCommandLinkButton:flat
{
  border: none;
}
